.contenedorJardin__Ubicacion {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
}
@media (min-width:800px){
    .fotoJardines__Ubicacion {
    height: 400px;
    width: 500px;
    }
    #map {
        height: 400px;
        width: 500px;
        border: solid 2px;
        border-radius: 20px;
        border-color: darkgreen;
    }
}
@media (min-width:400px) and (max-width:799px){
    .fotoJardines__Ubicacion {
    height: 400px;
    width: 500px;
    }
    #map {
        height: 240px;
        width: 317px;
        border: solid 2px;
        border-radius: 20px;
        border-color: darkgreen;
    }
}
@media (max-width:399.9px){
    .fotoJardines__Ubicacion {
        height: 217px;
        width: 217px;
        }
        #map {
            height: 180px;
            width: 240px;
            border: solid 2px;
            border-radius: 20px;
            border-color: darkgreen;
        }
}